.topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    // border-bottom: solid;
    // border-color: blue;
    height: 60px;
}

.nav-dash-links{
    float: right;
    padding-right: 20px;
}

.dash-links{
    padding-right: 40px;
    border: none;
}

.dash-links:hover,
.dash-links:active{
    cursor: pointer;
    color: #00c805

}

.logo-dashboard{
    padding-left: 50px;
}

#dashboard-search-nav{
    width: 450px;
    height: 30px;
    text-indent: 10px;
    border: none;
    background-color: #000000;
    color: white;
}

.buying-power{
    display: flex;
}

#bp{
    margin-right: 50px;
    color: blue;
}

#liquidity{
    margin-left: 40px;
}

#log-out-btn{
    color: red;
}

.search-bar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 12px;
    left: 150px;
    border: 1px solid #40494e;
    border-radius: 2px;
    background-color: #000000;
}

.search-bar:active{
    background-color: #1e2225;
}

.tickers{
    z-index: 10;
}

.search-bar-tickers{
    max-height: 210px;
    width: 454px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // border: 1px solid gray;
    // border-top: none;
    // border-radius: 2px;
}

.search-bar-tickers:hover{
    max-height: 210px;
    width: 454px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // border: 1px solid gray;
    // border-top: none;
    // border-radius: 2px;
}

.search-bar-tickers::-webkit-scrollbar{
    display: none;
}

#select-stock{
    width: 400px;
}

.search-btn{
    background-color: #1e2225;
    text-align: left;
    border: none;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-indent: 9px;
    color: white;
}

.search-btn:hover{
    background-color: gray;
    cursor: pointer;
}

#dashboard-search-nav:active,
#dashboard-search-nav:focus{
    outline: none;
    background-color: #1e2225;
    // border: 2px solid gray;
    // border-radius: 2px;
}

#dashboard-search-nav:active:not(:placeholder-shown),
#dashboard-search-nav:focus:not(:placeholder-shown){
    outline: none;
    background-color: #1e2225;
    // border: 2px solid gray;
    // border-radius: 2px;
    // border-bottom: none;
}

.search-bar>div{
    display:none;
}

.search-bar:active>div,
.search-bar:focus>div{
    max-height: 210px;
    width: 454px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#dashboard-search-nav:active + div,
#dashboard-search-nav:focus + div{
    max-height: 210px;
    width: 454px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}