.topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    border-bottom: solid;
    border-color: blue;
    height: 60px;
}

.nav-dash-links{
    float: right;
    padding-right: 20px;
}

.dash-links{
    padding-right: 40px;
}

.logo-dashboard{
    padding-left: 50px;
}

#dashboard-search-nav{
    width: 450px;
    height: 30px;
}

.buying-power{
    display: flex;
}

#bp{
    margin-right: 50px;
    color: blue;
}

#liquidity{
    margin-left: 40px;
}

#log-out-btn{
    color: red;
}

.search-bar{
    display: flex;
    flex-direction: column;
}

.tickers{
    z-index: 10;
}

.search-bar-tickers{
    height: 210px;
    width: 450px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}