
.split-screen{
    display: 'flex';
    flex-direction: 'column';
}

#split-left{
    width: 500px;
    height: 600px;
    // background-size: cover;
    margin: 0px;
    display: inline-block;
    // background-image: image-url("Login_image.png")
}

#split-left img {
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
}

#split-right{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin: 0px;
    display: inline-block;
    padding-left: 40px;
    align-self: center;
    position: relative;
    bottom: 180px;
}

#login-title{
    font-size: 20px;
    margin-bottom: 25px;
}

#login-user{
    font-size: 12px;

}

#password-user{
    font-size: 12px;

}

#login-button{
    background-color: #04c805;
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 40px;
    font-weight: bold;
    outline: none;
}

#login-button:hover{
    cursor: pointer;
}

#demo-button{
    background-color: #04c805;
    color: white;
    border-radius: 5px;
    border: none;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    font-weight: bold;
    outline: none;
    margin-left: 120px;
    font-size: 13px;
    height: 46px;
}

#demo-button:hover{
    background-color: #04c805;
    cursor: pointer;
}

#un{
    width: 400px;
    height: 40px;
    border: none;
    background-color: #f5f8fa;
    border-radius: 5px;
    margin-top: 8px;
    text-indent: 8px;
    margin-bottom: 8px;
}

#un:hover{
    border: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    background-color: white;
}

#pass:hover{
    border: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    background-color: white;
}

#pass{
    width:400px;
    height: 40px;
    border: none;
    background-color: #f5f8fa;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-indent: 8px;
}

#un:active,
#un:focus{
    border: solid;
    border-width: 1px;
    outline-color:#04c805
}

#pass:active,
#pass:focus{
    border: solid;
    border-width: 1px;
    outline-color:#04c805
}

.login_pic{
    height: 660px;
    width: 440px;
    // height: 100%;
    // width: 100%;
}

.login-form{
    display: inline;
}