.tracker{
    position: fixed;
    top: 90px;
    right: 175px;
    border: 1px solid #40494e;
    background-color: #1e2225;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 500px;
    width: 275px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tracker::-webkit-scrollbar {
    display: none;
}

.tracker-title{
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    border-bottom: 1px solid #40494e;
    justify-self: center;
    line-height: 50px;
    padding-left: 25px;
}

.container-assets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e2225;
    outline: none;
    border: none;
    height: 50px;
    align-items: center;
}

.left-side-tracker{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white
}

.container-assets:hover{
    cursor: pointer;
    background-color: #909090;
}

.container-assets:active{
    outline: none;
}

.right-side-tracker{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#container-asset-name{
    font-weight: bold;
    line-height: 20px;
}

#container-num-shares{
    line-height: 20px;
}

#container-current-price{
    color: white;
    line-height: 20px;
}

#container-percentage-positive{
    color: #04c805;
    line-height: 20px;
}

#container-percentage-negative{
    color: #ff5103;
    line-height: 20px;
}

#tracker-holder{
    margin: 50px;
    margin-left: 25px;
}

#subtracker{
    width: 275px;
    display: flex;
    flex-direction: column;
}